
@model List<LoginRegistrationInMVCwithDatabase.Models.Product_>
<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!--Custom styles-->
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<!--Suggestion Start-->

<div class="col">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <hr />
            <h4>Suggestion For You</h4>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">

                        <img alt="@item.Name" class="card-img-top embed-responsive-item"
                             src="@Url.Content(item.Image)" />
                    </div>
                    <div class="card-footer">
                        <p class="card-text"> @item.Name</p>
                        <h5 class="card-title text-center"> @item.Price</h5>
                        <div class="text-center">

                            @using (Html.BeginForm("AddToCart", "Cart", new { productid = item.ID }, FormMethod.Post))
                            {

                                <button type="submit" class="btn btn-success"><i class="fa fa-shopping-cart"></i>Add To Cart</button>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }


</div>
<!--Suggestion End-->
